= form.text_field :name
= form.text_field :category
= form.text_field :price
= form.text_field :description
= form.text_field :available

= form.form_actions do
  = form.submit class: "btn btn-primary"
  = link_to 'Cancel', admin_entrees_path, class: "btn btn-link"
