.page-header
  = link_to 'New Entree', new_admin_entree_path, class: 'btn btn-secondary float-right'
  %h2= 'Entrees'



%ul.list
  - @entrees.each do |entree|
    %li
      .row
        .col-md-8.item
          .item-content
            .item-title
              = entree.name

        .col-md-4.d-flex.align-items-center.justify-content-md-end
          .btn-group.btn-group-sm
            = link_to 'Edit', edit_admin_entree_path(entree), class: 'btn btn-outline-secondary'
            = link_to 'Delete', admin_entree_path(entree), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'

