<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="Description" content="Xingones: fried chicken, tacos, fries">
  <title>Sofa</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload', async: true %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', async: true %>
  <link rel="preload" as="style" onload="this.rel='stylesheet'" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="d-lg-none" >
  <%= link_to image_tag("web_xingones-03.svg", height: "auto", width: '150px', :style => 'margin-top: -15px') %>
  </div>
  <div class="d-none d-lg-block" >
    <%= link_to image_tag("web_xingones-03.svg", height: "auto", width: '75px', :style => 'margin-top: -15px') %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <h2 class="navbar-toggler-icon"></h2>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/"></a>
      </li>
    </ul>
    <div class="form-inline my-6 my-lg-0">
      <div class="d-lg-none" style="font-size: 5rem">
        <ul class="navbar-nav mr-auto">
          <% @cms_site.pages.order(:position).where.not(:label => 'Home').each do |page|  %>
            <li class="nav-item">
              <a class="nav-link" href="<%= page.slug %>"><%=  page.label %></a>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="d-none d-lg-block">
        <ul class="navbar-nav mr-auto">
          <% @cms_site.pages.order(:position).where.not(:label => 'Home').each do |page|  %>
            <li class="nav-item">
              <a class="nav-link" href="<%= page.slug %>"><%=  page.label %></a>
            </li>
          <% end %>
          <li class="nav-item">
            <%=image_tag("web_xingones-04.svg", width: '50px') %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<body>
<%= yield %>
</body>
<nav class="navbar navbar-sticky-bottom navbar-expand-lg navbar-light bg-light">

    <div class="form-inline mx-auto">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link green" href="https://www.facebook.com/profile.php?id=100013469014512&ref=br_rs">Facebook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link green" href="https://www.instagram.com/xingonesoakland/">Instagram</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link green" href="https://twitter.com/xingonesoakland?lang=en">Twitter</a>
        </li>
      </ul>
    </div>
</nav>
</html>
